version: '3'
services:
  PoolFinder:
    image: arbie:prod
    volumes:
      - ./PoolFinder:/arbie
    command: Arbie -f pool_finder.yml
    ports:
      - 8001:8000

  PoolUpdater:
    image: arbie:prod
    volumes:
      - ./PoolUpdater:/arbie
    command: Arbie -f pool_updater.yml
    ports:
      - 8002:8000

  PathFinder:
    image: arbie:prod
    volumes:
      - ./PathFinder:/arbie
    command: Arbie -f path_finder.yml
    ports:
      - 8003:8000

  Trader:
    image: arbie:prod
    volumes:
      - ./Trader:/arbie
    command: Arbie -f trader.yml
    ports:
      - 8004:8000
