version: '3.8'
services:
  redis:
    image: redis:alpine
    volumes:
      - redis-data:/var/lib/redis
    ports:
      - 6379:6379
    environment:
      - REDIS_REPLICATION_MODE=master

  PoolFinder:
    image: arbie:prod
    depends_on:
      - Node
      - redis
    volumes:
      - ./PoolFinder:/arbie
    command: Arbie -f pool_finder.yml

  PoolUpdater:
    image: arbie:prod
    depends_on:
      - Node
      - redis
    volumes:
      - ./PoolUpdater:/arbie
    command: Arbie -f pool_updater.yml

  PathFinder:
    image: arbie:prod
    depends_on:
      - Node
      - redis
    volumes:
      - ./PathFinder:/arbie
    command: Arbie -f path_finder.yml

  Trader:
    image: arbie:prod
    depends_on:
      - Node
      - redis
    volumes:
      - ./Trader:/arbie
    command: Arbie -f trader.yml

  Node:
    image: hardhat:node
    command: npx hardhat node --fork http://gluteus:8545

volumes:
  redis-data:
